<?xml version="1.0" encoding="UTF-8"?>
<!--the status logger is used internally by log4j2 components-->
<Configuration status="warn">
    <Appenders>
        <!--rolling appender-->
        <RollingFile name="rollingFile"
                     fileName="log.txt"
                     filePattern="log-%d{yyyy-MM-dd}-%i.txt.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} %m%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <!--console appender-->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!--override log level for specified package-->
        <Logger name="de.swingbe" level="warn" additivity="false">
            <appender-ref ref="rollingFile" level="warn"/>
        </Logger>
        <Root level="off" additivity="false">
            <appender-ref ref="console"/>
        </Root>
    </Loggers>

</Configuration>
